{
  "fontsize": "10",
  "floating_terminal_binary": "mate-terminal -t float",
  "floating_terminal_window_props": "instance=\"mate-terminal\" title=\"float\"",
  "pa_sink": "1",
  "settings_manager": "unity-control-center",
  "startup_programs":
    [
    "nitrogen --restore",
    "gnome-keyring-daemon",
    "gnome-settings-daemon",
    "~/.local/bin/mopidy-as-user.sh"
    ],
  "i3status_config": "~/.dotfiles/i3wm/i3status.sgd-dalcoi7-09.config"
}
