{
  "fontsize": "10",
  "smart_terminal_command": "i3-smart-terminal",
  "smart_terminal_lo_dpi_zoom": 0.85,
  "smart_terminal_hi_dpi_zoom": 1.2,
  "smart_terminal_terminal_command": "mate-terminal",
  "floating_terminal_command": "i3-smart-terminal",
  "floating_terminal_args": "--role=floating_terminal",
  "floating_terminal_window_props": "instance=\"mate-terminal\" window_role=\"floating_terminal\"",
  "pa_sink": "@DEFAULT_SINK@",
  "settings_manager": "mate-control-center",
  "startup_programs": [
    "mate-settings-daemon",
    "mate-screensaver",
    "next_wallpaper.sh",
    "mopidy-as-user.sh",
    "blueman-applet",
    "/usr/lib/x86_64-linux-gnu/polkit-mate/polkit-mate-authentication-agent-1",
    "nextcloud"
  ],
  "i3status_config": "~/.dotfiles/i3wm/i3status.wyvern.config"
}
