# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!


general {
        colors = true
        interval = 5
	output_format = "i3bar"
}

order += "ethernet enp5s0"
order += "ipv6"
order += "load"
order += "cpu_temperature cpu"
order += "cpu_temperature cpuliquid"
order += "cpu_temperature gpu"
order += "volume master"
order += "tztime local"

ethernet enp5s0 {
        # if you use %speed, i3status requires root privileges
        format_up = "enp5s0: %ip"
        format_down = "enp5s0: down"
}

run_watch DHCP {
	pidfile = "/run/sendsigs.omit.d/network-manager.dhclient*.pid"
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S"
}

load {
        format = "%1min %5min %15min"
	max_threshold = 9
}

cpu_temperature cpu {
	format = "CPU %degrees°C"
	path = "/tmp/cputemp"
}
cpu_temperature cpuliquid {
	format = "H100i %degrees°C"
	path = "/tmp/liquidtemp"
}
cpu_temperature gpu {
	format = "GPU %degrees°C"
	path = "/tmp/gputemp"
}

volume master {
	format = "♪ %volume"
	device = "pulse"
}
